@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  margin: auto;
  font-family: "Roboto", "Courier New", Courier, monospace;
  font-size: 16px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f9f1e7;
  padding: 10px 10px;
}

header .logo {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

header .cart-button {
  min-height: 40px;
  min-width: 100px;
  font-size: 16px;
  color: #fff;
  background-color: #e89f71;
  border: none;
  border-radius: 10px;
}

main {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .app__container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1300px;
  border: 2px solid;
}

main .app__container .showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Roboto", "Courier New", Courier, monospace;
  font-size: 16px;
}

main .app__container .showcase .showcase__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 250px;
  max-height: 300px;
  width: 150px;
  background-color: #ececec;
  color: black;
  border-radius: 10px;
}

main .app__container .showcase .showcase__product img {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 120px;
  max-width: 70%;
  max-height: 70%;
}

main .app__container .showcase .showcase__product h2 {
  margin: 5px;
}

main .app__container .showcase .showcase__product p {
  margin: 5px;
}

main .app__container .showcase .showcase__product button {
  margin: 10px;
  margin-bottom: 0px;
  padding: 7px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: #e89f71;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

main .app__container .panelcart {
  border: 2px solid;
  background-color: #ececec;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .app__container .panelcart .panelcart__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 90px;
  background-color: #fff;
  color: black;
}

main .app__container .panelcart .panelcart__product img {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 80%;
}

main .app__container .panelcart .panelcart__product .panelcart__product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  margin-left: 10px;
}

main .app__container .panelcart .panelcart__product .panelcart__product-details .panelcart__product-title {
  margin: 5px;
  margin-top: 15px;
}

main .app__container .panelcart .panelcart__product .panelcart__product-details .panelcart__product-price {
  margin: 5px;
}
