header {
    background-color: #316099;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 24px;
    margin: auto 0;
}

.card-button {
    border: 0px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    background: #5A98D0;
    padding: 10px 40px;
    align-self: flex-end;
}

.goods {
    margin: 25px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 20px;

    box-sizing: border-box;
    width: 200px;
    height: 300px;
    margin: 0px 30px;
}

.basket-blok {
    background-color: #5A98D0;
}

.basket-item {
    display: flex;
    padding: 0 15px;
    box-sizing: border-box;
}

.button-remove {
    margin: 10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    font-weight: 900;
    padding-top: -5px;
    border: crimson;
    background-color: crimson;
    color: honeydew;
}
.button-remove p{
    margin: 0;
    margin-left: -1px;
    margin-top: -4px;
    padding: 0;
}
.button-remove:hover{
    background-color: red;
    cursor: pointer;
}
