<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <script src="script.js" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <div id="app">
        <header>
            <span class="logo">eShop</span>
            <input type="text" class="search" v-model="searchValue" />
            <button class="basket-button" v-on:click="isBasketVisible = !isBasketVisible">Корзина</button>
            <div v-if="isBasketVisible" class="basket">
                <div class="basket-item" v-for="item in basketGoods">
                    <h4>{{ item.product_name }}</h4>
                    <p>{{ item.price }} x {{ item.quantity }}</p>
                    <button v-on:click="removeItem(item.id_product)">
                        Удалить
                    </button>
                </div>
                <p class="basket-total">Общая стоимость: <b>{{ total }}</b></p>
            </div>
        </header>
        <main>
            <goods-list
                v-bind:filtered-goods="filteredGoods"
                v-on:add-item="addItem"
            />
        </main>
    </div>
</body>
</html>
