.txt {
    margin-top: 15px;
    font-family: 'Tangerine', serif;
    font-size: 30px;
    text-align: center;
}

.text-responsive {
    font-size: calc(15% + 0.8vw + 0.8vh);
}

.content {
    min-height: calc(100vh - 70px);
}

.footer {
    height: 50px;
}